<!doctype html>
<html lang="en" ng-app="albumFinderApp">
    <head>
        <meta charset="utf-8">
        <title>Album Finder Listener</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="css/app.css">

    </head>
    <body>

        <div ng-controller="loginController" class="container">
            <ul class="nav nav-pills" role="tablist">
                <li class="active"><a href="#/albums">albums</a></li>
                <li ng-show="userInfo.isAdmin"><a href="#/artists">artists</a></li>
                <li ng-show="!userInfo.authenticated"><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
                <li ng-show="userInfo.authenticated"><a href="" ng-click="logout()">logout</a></li>
            </ul>


            <div id="loginModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Loginr</h4>
                        </div>
                        <div class="alert alert-danger" ng-show="error">
                            There was a problem logging in. Please try again.
                        </div>
                        <form role="form" ng-submit="login()">
                            <div class="form-group">
                                <label for="username">Username:</label> <input type="text"
                                    class="form-control" id="username" name="username" ng-model="credentials.username"/>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label> <input type="password"
                                    class="form-control" id="password" name="password" ng-model="credentials.password"/>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="view-container">
            <div ng-view class="view-frame">

                hi some content

            </div>
        </div>

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/services.js"></script>
    </body>
</html>