<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            Search:
            <form role="form" ng-submit="listAlbums()">
                <div class="form-group">
                    <label for="searchName">Title:</label>
                    <input type="text" class="form-control" id="searchName" name="searchName" ng-model="title"/>
                    <label for="searchYear">Year:</label>
                    <input type="text" class="form-control" id="searchYear" name="searchYear" ng-model="year"/>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
        <div class="col-md-10">
            <button class="btn btn-info" ng-show="userInfo.isAdmin" ng-click="createAlbum()">Create</button>
            Results filter: <input ng-model="results_filter"/>

            <table class="table">
                <th>Title</th>
                <th>Year</th>
                <th>Name</th>
                <tr ng-repeat="album in albums | filter:results_filter">
                    <td>{{album.title}}</td>
                    <td>{{album.year}}</td>
                    <td>{{album.artist.name}}</td>
                    <td></td>
                    <td>
                        <button class="btn btn-info" ng-show="userInfo.isAdmin" ng-click="editAlbum(album)">edit</button>
                    </td>
                    <td>
                        <button class="btn btn-warning" ng-show="userInfo.isAdmin" ng-click="deleteAlbum(album)">delete</button>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>


<div id="albumModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Album</h4>
            </div>
            <form name="albumForm" ng-submit="saveOrUpdateAlbum()" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : albumForm.name.$invalid && !albumForm.username.$pristine }">
                    <label for="name">Title:</label>
                    <input type="text" class="form-control" id="name" name="name" ng-model="currentAlbum.title" required/>
                    <p ng-show="albumForm.name.$invalid && !albumForm.name.$pristine" class="help-block">Title is required.</p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : albumForm.year.$invalid && !albumForm.year.$pristine }">
                    <label for="year">Year:</label>
                    <input type="text" class="form-control" id="year" name="year" ng-model="currentAlbum.year" ng-pattern="/^[1-9]\d{3}$/" required/>
                    <p ng-show="albumForm.year.$invalid && !albumForm.name.$pristine" class="help-block">Year is invalid.</p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : albumForm.artistForAlbum.$invalid && !albumForm.artistForAlbum.$pristine }">
                    <label for="artist">Artist:</label>
                    <angucomplete-alt id="artist"
                                      placeholder="Search artists"
                                      pause="100"
                                      selected-object="selectedArtistForAlbum"
                                      initial-value="initialArtistForAlbum"
                                      remote-url="/artist/search"
                                      remote-url-request-formatter="remoteUrlRequestFn"
                                      remote-url-data-field="data"
                                      search-fields="name"
                                      title-field="name"
                                      minlength="2"
                                      text-searching="Searching..."
                                      text-no-results="Not found..."
                                      input-class="form-control form-control-small"
                                      field-required="true"
                                      input-name="artistForAlbum"/>
                    <p ng-show="albumForm.artistForAlbum.$invalid && !albumForm.artistForAlbum.$pristine" class="help-block">Artist is required.</p>
                </div>
                <button type="submit" ng-disabled="albumForm.$invalid" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
