<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            Search: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </select>

        </div>
        <div class="col-md-10">
            <button class="btn btn-info" ng-click="createAlbum()">Create</button>

            <table class="table">
                <tr ng-repeat="album in albums">
                    <td>{{album.title}}</td>
                    <td>{{album.year}}</td>
                    <td>{{album.artist.name}}</td>
                    <td></td>
                    <td>
                        <button class="btn btn-info" ng-click="editAlbum(album)">edit</button>
                    </td>
                    <td>
                        <button class="btn btn-warning" ng-click="deleteAlbum(album)">delete</button>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>


<div id="albumModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Album</h4>
            </div>
            <form role="form" ng-submit="saveOrUpdateAlbum()">
                <div class="form-group">
                    <label for="name">Title:</label>
                    <input type="text" class="form-control" id="name" name="name" ng-model="currentAlbum.title"/>
                    <label for="year">Year:</label>
                    <input type="text" class="form-control" id="year" name="year" ng-model="currentAlbum.year"/>
                    <label for="artist">Artist:</label>
                    <angucomplete-alt id="artist"
                                      placeholder="Search artists"
                                      pause="100"
                                      selected-object="selectedArtistForAlbum"
                                      initial-value="initialArtistForAlbum"
                                      local-data="listOfArtists"
                                      search-fields="name"
                                      title-field="name"
                                      minlength="1"
                                      input-class="form-control form-control-small"/>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
